In [1]:
import pandas as pd

In [2]:
test_data = pd.read_csv("data/test.csv")

In [3]:
test_data.head()

   Model1  Model2
0      72      96
1       4      65
2      14      56
3      65      56
4      67       8

In [4]:
from scipy import stats

In [5]:
stats.ttest_ind(test_data.Model1,test_data.Model2)

Ttest_indResult(statistic=-0.75668506117068168, pvalue=0.45049219073782243)